*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
navbar{
	background-color: white;
}
.nav-link{
	color: black;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
	text-decoration: none;
}
.nav-link:hover{
	background-color: blue;
}