*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
navbar{
	background-color: white;
}
.nav-link{
	color: black;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
	text-decoration: none;
}

.main{
	background: url(./img\proofile.jpg)no-repeat;
	background-size: cover;
	width: 100%
	height: 100vh;
}